.content_card{
    background-color: antiquewhite;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}
.card_content_img{
    flex-basis: 20%;
  
    text-align: center;
}
    .card_img{
        width: 5rem;
        height: 5rem;
        border-radius: 50%;

    }
.card_content_text{
    flex-basis: 40%;
  
    padding-left: 1rem;
    position: relative;
}
    .card_text_title{
    }
    .card_text_email{
        position: absolute;
        top: 3.3rem;
        font-size: 0.7rem;
    }
.card_content_btn{
    flex-basis: 40%;
   
    align-items: center;
    text-align: center;
    margin: auto;
}
    .card_btn{
        font-size: 1.5rem;
        padding: 1rem;
        
    }

    .is_follow{
        background-color:  rgb(167, 6, 6);
        color: white;
    }
